* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
}



/* Make full height layout */
html, body {
  height: 100%;
  margin: 0;
}

/* Root container */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Page wrapper */
.page-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

